body {
    font-family: 'Arial', sans-serif;
    background-color: bisque;
    margin: 0;
    padding-top: 210px;
}

header {
    position: fixed;
    top: 0;
    width: calc(100% - 15px);
    background-color: #e3ad76;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #432b1d;
}

a:hover {
    color: #005f99;
}

.main {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    color: #333;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 10px;
    margin-left: 0;
}

.cars {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cars img {
    width: calc(33.333% - 10px);
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.c-study-project,
.java-study-project,
.c-work-project,
.java-work-project {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
}

.c-study-project thead,
.java-study-project thead,
.c-work-project thead,
.java-work-project thead {
    background-color: #e3ad76;
    color: white;
    font-weight: bold;
}

.c-study-project th,
.c-study-project td,
.java-study-project th,
.java-study-project td,
.c-work-project th,
.c-work-project td,
.java-work-project th,
.java-work-project td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.c-study-project tbody tr:nth-child(odd),
.java-study-project tbody tr:nth-child(odd),
.c-work-project tbody tr:nth-child(odd),
.java-work-project tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.c-study-project tbody tr:nth-child(even),
.java-study-project tbody tr:nth-child(even),
.c-work-project tbody tr:nth-child(even),
.java-work-project tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

@media screen and (max-width: 768px) {
    .c-study-project th,
    .c-study-project td,
    .java-study-project th,
    .java-study-project td,
    .c-work-project th,
    .c-work-project td,
    .java-work-project th,
    .java-work-project td {
        padding: 8px;
    }
}

@media screen and (min-width: 1920px) {
    .cars img {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 720px) {
    .header nav ul {
        flex-direction: column;
    }

    .cars {
        flex-direction: column;
        display: none;
    }
}
