body {
    font-family: 'Arial', sans-serif;
    background-color: bisque;
    margin: 0;
    padding-top: 120px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

header {
    position: fixed;
    top: 0;
    width: calc(100% - 15px);
    background-color: #e3ad76;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #432b1d;
}

a:hover {
    color: #ff8600;
}

.blocks {
    scroll-margin-block: 140px;
}

.main {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    color: #333;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 10px;
    margin-left: 0;
}

.cars {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cars img {
    width: calc(33.333% - 10px);
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.c-study {
    width: 70%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;

    div:nth-child(4n + 1) {
        background: #e3ad76;
    }

    div:nth-child(4n + 2) {
        background: #e3ad76;
    }

    div:nth-child(4n) {
        background: #ffffff;
    }

    div:nth-child(4n + 3) {
        background: #ffffff;
    }
}

.java-study {
    width: 70%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;

    div:nth-child(4n + 1) {
        background: #e3ad76;
    }

    div:nth-child(4n + 2) {
        background: #e3ad76;
    }

    div:nth-child(4n) {
        background: #ffffff;
    }

    div:nth-child(4n + 3) {
        background: #ffffff;
    }
}

.c-work {
    width: 70%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;

    div:nth-child(6n + 1) {
        background: #e3ad76;
    }

    div:nth-child(6n + 2) {
        background: #e3ad76;
    }
    div:nth-child(6n + 3) {
        background: #e3ad76;
    }

    div:nth-child(6n + 4) {
        background: #ffffff;
    }

    div:nth-child(6n + 5) {
        background: #ffffff;
    }

    div:nth-child(6n) {
        background: #ffffff;
    }
}

.java-work {
    width: 70%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;

    div:nth-child(6n + 1) {
        background: #e3ad76;
    }

    div:nth-child(6n + 2) {
        background: #e3ad76;
    }
    div:nth-child(6n + 3) {
        background: #e3ad76;
    }

    div:nth-child(6n + 4) {
        background: #ffffff;
    }

    div:nth-child(6n + 5) {
        background: #ffffff;
    }

    div:nth-child(6n) {
        background: #ffffff;
    }
}

@media screen and (min-width: 1920px) {
    .cars img {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 720px) {
    .header nav ul {
        flex-direction: column;
    }

    .cars {
        flex-direction: column;
        display: none;
    }
}

nav ul li a.active {
    font-weight: bold;
    color: #432b1d;
    text-decoration: underline;
}

.generated-table {
    margin-top: 20px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.schedule-table th {
    background-color: #e3ad76;
    color: white;
}

.schedule-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.form-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #555;
}

#preloader::after {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: 2px solid #555;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#comments-container {
    margin-top: 10px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.comment h3 {
    margin: 0;
    font-size: 1.1em;
}

.comment p {
    margin: 5px 0;
}

.error-message {
    color: red;
    font-weight: bold;
}

.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.swiper-slide img {
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}


.swiper-button-next,
.swiper-button-prev {
    color: #432b1d;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swal2-popup {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
